@model AppUserViewModel

@{
    ViewData["Title"] = "Kullanıcı Sil";
}

@section Navbar {
    @await Html.PartialAsync("../Shared/Sections/Navbar/_Navbar.cshtml")
}

@section VerticalMenu {
    @await Html.PartialAsync("../Shared/Sections/Menu/_VerticalMenu.cshtml", null, new ViewDataDictionary(ViewData) { { "Language", ViewBag.Lang } })
}

<form asp-controller="Users" asp-action="Delete" asp-route-lang="@ViewBag.Lang" method="post">
    <div class="mb-3 mt-3">
        <p>@Model.UserName isimli kullanıcıyı silmek istediğinize emin misiniz?</p>
    </div>

    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-controller="Users" asp-action="Index" asp-route-lang="@ViewBag.Lang" class="btn btn-primary">İptal</a>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnProducts").css("background-color", "#fff");
            $("#btnBrands").css("background-color", "#fff");
            $("#btnCities").css("background-color", "#fff");
            $("#btnCategories").css("background-color", "#fff");
            $("#btnUsers").css("background-color", "#788393");
            $("#btnUsers").css("color", "#fff");
            $("#btnRoles").css("background-color", "#fff");
            let searchParams = new URLSearchParams(window.location.search);
            let lang = searchParams.get('lang');
            let userName = '@Html.Raw(Json.Serialize(Model.UserName))';
            let sentence1 = userName.replace('"', "") + " isimli kullanıcıyı silmek istediğinize emin misiniz?";
            let sentence2 = "Are you sure you want to delete " + userName.replace('"', "") + "?";

            if (lang == "en") {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-en");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu > .dropdown-item").data("lang", "tr");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Search...");
                $(".mb-3 > p").text($(".mb-3 > p").text().replace(sentence1.replace('"', ""), sentence2.replace('"', "")));
                $(".btn-danger").text("Delete");
                $(".btn-primary").text("Cancel");
                $("#btnProducts > div").text("Products");
                $("#btnBrands > div").text("Brands");
                $("#btnCategories > div").text("Categories");
                $("#btnCities > div").text("Cities");
                $("#btnUsers > div").text("Users");
                $("#btnRoles > div").text("Roles");
                $("#btnOrders > div").text("Orders");
                $("#page-title").text("Delete User");
            }

            else {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-tr");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu > .dropdown-item").data("lang", "en");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Ara...");
                $(".mb-3 > p").text($(".mb-3 > p").text().replace(sentence2.replace('"', ""), sentence1.replace('"', "")));
                $(".btn-danger").text("Sil");
                $(".btn-primary").text("İptal");
                $("#btnProducts > div").text("Ürünler");
                $("#btnBrands > div").text("Markalar");
                $("#btnCategories > div").text("Kategoriler");
                $("#btnCities > div").text("Şehirler");
                $("#btnUsers > div").text("Kullanıcılar");
                $("#btnRoles > div").text("Roller");
                $("#btnOrders > div").text("Siparişler");
                $("#page-title").text("Kullanıcı Sil");
            }
        });
    </script>
}