@model ProductImageViewModel

@{
    ViewData["Title"] = "Ürün Resmi Ekle";
}

@section Navbar {
    @await Html.PartialAsync("../Shared/Sections/Navbar/_Navbar.cshtml")
}

@section VerticalMenu {
    @await Html.PartialAsync("../Shared/Sections/Menu/_VerticalMenu.cshtml")
}

<h1 class="h4 mt-3">Ürün Resmi Ekle</h1>
<hr />

<form asp-controller="Products" asp-action="CreateProductImage" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />

    <div class="mb-3">
        <label for="files" class="form-label">Resim *</label>
        <input type="file" id="files" name="files" class="form-control" multiple />
    </div>

    <input type="submit" class="btn btn-primary" value="Kaydet" />
    <button asp-controller="Products" asp-action="Index" class="btn btn-danger">İptal</button>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnHome").css("background-color", "#fff");
            $("#btnProducts").css("background-color", "#788393");
            $("#btnProducts").css("color", "#fff");
            $("#btnBrands").css("background-color", "#fff");
            $("#btnCities").css("background-color", "#fff");
            $("#btnCategories").css("background-color", "#fff");
            $("#btnUsers").css("background-color", "#fff");
            $("#btnRoles").css("background-color", "#fff");
        });
    </script>
}