@model Category

@{
    ViewData["Title"] = "Kategori Ekle";
}

@section Navbar {
    @await Html.PartialAsync("../Shared/Sections/Navbar/_Navbar.cshtml")
}

@section VerticalMenu {
    @await Html.PartialAsync("../Shared/Sections/Menu/_VerticalMenu.cshtml", null, new ViewDataDictionary(ViewData) { { "Language", ViewBag.Lang } })
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger mt-3" role="alert">
        @ViewBag.Message
    </div>
}

<h1 class="h4 mt-3">Kategori Ekle</h1>
<hr />

<form asp-controller="Categories" asp-action="Create" asp-route-lang="@ViewBag.Lang" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label" id="lblCategoryName"></label>

        <div class="d-flex">
            <input type="text" asp-for="Name" class="form-control" />
            <input type="hidden" asp-for="Ml1Name" />
            <input type="hidden" asp-for="Ml2Name" />
            <div class="dropdown">
                <button class="btn btn-white dropdown-toggle h-100 bg-white border" type="button" id="dropdownCategoryNameMenuButton" data-toggle="dropdown" onclick="langSelectorCategoryNameClick()" onblur="langSelectorCategoryNameBlur()">
                    <span class="flag-icon flag-icon-tr"></span>
                </button>
                <div class="dropdown-menu lang-menu-category-name" style="min-width:60px;" aria-labelledby="dropdownCategoryNameMenuButton">
                    <a class="dropdown-item" style="cursor:pointer;" data-lang="en">
                        <img src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg" width="30" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Kaydet" />
    <button asp-controller="Categories" asp-action="Index" asp-route-lang="@ViewBag.Lang" class="btn btn-danger">İptal</button>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnProducts").css("background-color", "#fff");
            $("#btnBrands").css("background-color", "#fff");
            $("#btnCities").css("background-color", "#fff");
            $("#btnCategories").css("background-color", "#788393");
            $("#btnCategories").css("color", "#fff");
            $("#btnUsers").css("background-color", "#fff");
            $("#btnRoles").css("background-color", "#fff");
            let searchParams = new URLSearchParams(window.location.search);
            let lang = searchParams.get('lang');

            if (lang == "en") {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-en");
                $("#dropdownCategoryNameMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownCategoryNameMenuButton > .flag-icon").addClass("flag-icon-en");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu > .dropdown-item").data("lang", "tr");
                $(".lang-menu-category-name > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu-category-name > .dropdown-item").data("lang", "tr");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Search...");
                $(".h4").text("Add Category");
                $("#lblCategoryName").text("Category Name *");
                $(".btn-primary").val("Save");
                $(".btn-danger").text("Cancel");
                $(".alert-danger").text("This record is already exists.");
                $("#page-title").text("Add Category");
                $("#btnProducts > div").text("Products");
                $("#btnBrands > div").text("Brands");
                $("#btnCategories > div").text("Categories");
                $("#btnCities > div").text("Cities");
                $("#btnUsers > div").text("Users");
                $("#btnRoles > div").text("Roles");
                $("#btnOrders > div").text("Orders");
                $($(".validation-summary-errors > ul > li")[0]).text($($(".validation-summary-errors > ul > li")[0]).text().replace("Kategori Adı bilgisi zorunlu.", "Category Name field is required."));
            }

            else {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-tr");
                $("#dropdownCategoryNameMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownCategoryNameMenuButton > .flag-icon").addClass("flag-icon-tr");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu > .dropdown-item").data("lang", "en");
                $(".lang-menu-category-name > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu-category-name > .dropdown-item").data("lang", "en");
                $(".navbar-nav > .nav-item > .form-control").prop("placeholder", "Ara...");
                $(".h4").text("Kategori Ekle");
                $("#lblCategoryName").text("Kategori Adı *");
                $(".btn-primary").val("Kaydet");
                $(".btn-danger").text("İptal");
                $(".alert-danger").text("Böyle bir kayıt zaten var.");
                $("#page-title").text("Kategori Ekle");
                $("#btnProducts > div").text("Ürünler");
                $("#btnBrands > div").text("Markalar");
                $("#btnCategories > div").text("Kategoriler");
                $("#btnCities > div").text("Şehirler");
                $("#btnUsers > div").text("Kullanıcılar");
                $("#btnRoles > div").text("Roller");
                $("#btnOrders > div").text("Siparişler");
            }
        });

        function langSelectorCategoryNameClick() {
            if ($(".lang-menu-category-name").is(":visible")) {
                $(".lang-menu-category-name").hide();
            }

            else {
                $(".lang-menu-category-name").show();
            }
        }

        function langSelectorCategoryNameBlur() {
            setTimeout(
                function () {
                    $(".lang-menu-category-name").hide();
                }, 100
            );
        }

        $(document).on("click", ".lang-menu-category-name > .dropdown-item", function () {
            let lang = $(this).data("lang");

            if (lang == "en") {
                $("#dropdownCategoryNameMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownCategoryNameMenuButton > .flag-icon").addClass("flag-icon-en");
                $(".lang-menu-category-name > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu-category-name > .dropdown-item").data("lang", "tr");
                $("#Name").data("tr", $("#Name").val());
                $("#Name").val($("#Name").data("en"));
                $("#Ml1Name").val($("#Name").data("tr"));
            }

            else {
                $("#dropdownCategoryNameMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownCategoryNameMenuButton > .flag-icon").addClass("flag-icon-tr");
                $(".lang-menu-category-name > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu-category-name > .dropdown-item").data("lang", "en");
                $("#Name").data("en", $("#Name").val());
                $("#Name").val($("#Name").data("tr"));
                $("#Ml2Name").val($("#Name").data("en"));
            }
        });

        $(document).on("blur", "#Name", function () {
            let lang = $(".lang-menu-category-name > .dropdown-item").data("lang");

            if (lang == "en") {
                $("#Ml1Name").val($("#Name").val());
            }

            else {
                $("#Ml2Name").val($("#Name").val());
            }
        });
    </script>
}