@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/libs/apex-charts/apex-charts.css" />
}
@section VendorScripts {
    <script src="~/vendor/libs/apex-charts/apexcharts.js"></script>
}
@section PageScripts {
    <script src="~/js/dashboards-analytics.js"></script>
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo'>
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                @await Html.PartialAsync("../_Partials/_Macros")
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">HepsiAdmin</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Ana Sayfa -->
        <li class='menu-item'>
            <a asp-controller="Dashboards" asp-action="Index" class="menu-link" id="btnHome">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>Ana Sayfa</div>
            </a>
        </li>

        <!-- Ürünler -->
        <li class='menu-item'>
            <a asp-controller="Products" asp-action="Index" class="menu-link" id="btnProducts">
                <i class="menu-icon tf-icons bx bxl-product-hunt"></i>
                <div>Ürünler</div>
            </a>
        </li>

        <!-- Markalar -->
        <li class='menu-item'>
            <a asp-controller="Brands" asp-action="Index" class="menu-link" id="btnBrands">
                <i class="menu-icon tf-icons bx bx-braille"></i>
                <div>Markalar</div>
            </a>
        </li>

        <!-- Kategoriler -->
        <li class='menu-item'>
            <a asp-controller="Categories" asp-action="Index" class="menu-link" id="btnCategories">
                <i class="menu-icon tf-icons bx bx-category"></i>
                <div>Kategoriler</div>
            </a>
        </li>

        <!-- Þehirler -->
        <li class='menu-item'>
            <a asp-controller="Cities" asp-action="Index" class="menu-link" id="btnCities">
                <i class="menu-icon tf-icons bxs-city"></i>
                <div>Þehirler</div>
            </a>
        </li>

        <!-- Kullanýcýlar -->
        <li class='menu-item'>
            <a asp-controller="Users" asp-action="Index" class="menu-link" id="btnUsers">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div>Kullanýcýlar</div>
            </a>
        </li>

        <!-- Roller -->
        <li class='menu-item'>
            <a asp-controller="Roles" asp-action="Index" class="menu-link" id="btnRoles">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div>Roller</div>
            </a>
        </li>

        <!-- Sipariþler -->
        <li class='menu-item'>
            <a asp-controller="Orders" asp-action="List" class="menu-link" id="btnOrders">
                <i class="menu-icon tf-icons bx bxl-product-hunt"></i>
                <div>Sipariþler</div>
            </a>
        </li>
    </ul>
</aside>
<!-- / Menu -->