@model Brand

@{
    ViewData["Title"] = "Marka Sil";
}

@section Navbar {
    @await Html.PartialAsync("../Shared/Sections/Navbar/_Navbar.cshtml")
}

@section VerticalMenu {
    @await Html.PartialAsync("../Shared/Sections/Menu/_VerticalMenu.cshtml")
}

<form asp-controller="Brands" asp-action="Delete" method="post">
    <p class="mt-3">@Model.Name isimli markayı silmek istediğinize emin misiniz?</p>
    <input type="submit" class="btn btn-danger" value="Sil" />
    <a class="btn btn-primary" asp-controller="Brands" asp-action="Index">İptal</a>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnHome").css("background-color", "#fff");
            $("#btnProducts").css("background-color", "#fff");
            $("#btnBrands").css("background-color", "#788393");
            $("#btnBrands").css("color", "#fff");
            $("#btnCities").css("background-color", "#fff");
            $("#btnCategories").css("background-color", "#fff");
            $("#btnUsers").css("background-color", "#fff");
            $("#btnRoles").css("background-color", "#fff");
        });
    </script>
}