@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Şifremi Unuttum";
}

@section Header {
    @await Html.PartialAsync("_Header", null, new ViewDataDictionary(ViewData) { { "Language", ViewBag.Lang } })
}

<h1 class="h4">Şifremi Unuttum</h1>
<hr />

<form asp-controller="Home" asp-action="ForgotPassword" asp-route-lang="@ViewBag.Lang" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label" id="lblPassword"></label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PasswordConfirmed" class="form-label" id="lblPasswordConfirmed"></label>
        <input type="password" asp-for="PasswordConfirmed" class="form-control" />
    </div>

    <input id="btnSave" type="submit" class="btn mainPageButtons" value="Kaydet" />
    <button asp-controller="Home" asp-action="Login" asp-route-lang="@ViewBag.Lang" class="btn btn-danger">İptal</button>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            let searchParams = new URLSearchParams(window.location.search);
            let lang = searchParams.get('lang');

            if (lang == "en") {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-tr");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-en");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/tr.svg");
                $(".lang-menu > .dropdown-item").data("lang", "tr");
                $("#search-text").attr("placeholder", "Search product, category or brand...");
                $("#search-empty").html("You should write <strong>least 2 characters</strong> to start searching.");
                $("#search-button").text("Search");
                $("#adminPanel").text("Admin Panel");
                $("#login").text("Login");
                $("#register").text("Register");
                $("#greeting").text("Hello,");
                $(".h4").text("Forgot Password");
                $("#lblPassword").text("Password *");
                $("#lblPasswordConfirmed").text("Password Confirmed *");
                $("#btnSave").val("Save");
                $(".btn-danger").text("Cancel");
                $("#page-title").text("Forgot Password");
                $($(".validation-summary-errors > ul > li")[0]).text($($(".validation-summary-errors > ul > li")[0]).text().replace("Email bilgisi zorunlu.", "Email field is required."));
                $($(".validation-summary-errors > ul > li")[0]).text($($(".validation-summary-errors > ul > li")[0]).text().replace("Parola bilgisi zorunlu.", "Password field is required."));
                $($(".validation-summary-errors > ul > li")[0]).text($($(".validation-summary-errors > ul > li")[0]).text().replace("Parola Tekrar bilgisi zorunlu.", "Password Confirmed field is required."));
                $($(".validation-summary-errors > ul > li")[0]).text($($(".validation-summary-errors > ul > li")[0]).text().replace("'Parola Tekrar *' ve 'Parola *' alanları eşleşmiyor.", "'Password Confirmed *' and 'Password *' do not match."));
                $($(".validation-summary-errors > ul > li")[1]).text($($(".validation-summary-errors > ul > li")[1]).text().replace("Email bilgisi zorunlu.", "Email field is required."));
                $($(".validation-summary-errors > ul > li")[1]).text($($(".validation-summary-errors > ul > li")[1]).text().replace("Parola bilgisi zorunlu.", "Password field is required."));
                $($(".validation-summary-errors > ul > li")[1]).text($($(".validation-summary-errors > ul > li")[1]).text().replace("Parola Tekrar bilgisi zorunlu.", "Password Confirmed field is required."));
                $($(".validation-summary-errors > ul > li")[1]).text($($(".validation-summary-errors > ul > li")[1]).text().replace("'Parola Tekrar *' ve 'Parola *' alanları eşleşmiyor.", "'Password Confirmed *' and 'Password *' do not match."));
                $($(".validation-summary-errors > ul > li")[2]).text($($(".validation-summary-errors > ul > li")[2]).text().replace("Email bilgisi zorunlu.", "Email field is required."));
                $($(".validation-summary-errors > ul > li")[2]).text($($(".validation-summary-errors > ul > li")[2]).text().replace("Parola bilgisi zorunlu.", "Password field is required."));
                $($(".validation-summary-errors > ul > li")[2]).text($($(".validation-summary-errors > ul > li")[2]).text().replace("Parola Tekrar bilgisi zorunlu.", "Password Confirmed field is required."));
                $($(".validation-summary-errors > ul > li")[2]).text($($(".validation-summary-errors > ul > li")[2]).text().replace("'Parola Tekrar *' ve 'Parola *' alanları eşleşmiyor.", "'Password Confirmed *' and 'Password *' do not match."));

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetCategories",
                    dataType: 'Json',
                    success: function (categories) {
                        if (categories.length > 0) {
                            for (let i = 0; i < categories.length; i++) {
                                let $target = $("#menuButton_" + categories[i].id);
                                $target.text(categories[i].ml2Name == null ? categories[i].name : categories[i].ml2Name);
                            }
                        }
                    }
                });

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetSubCategories",
                    dataType: 'Json',
                    success: function (subcategories) {
                        if (subcategories.length > 0) {
                            for (let i = 0; i < subcategories.length; i++) {
                                let $target = $("#subMenuButton_" + subcategories[i].id);
                                $target.text(subcategories[i].ml2Name == null ? subcategories[i].name : subcategories[i].ml2Name);
                            }
                        }
                    }
                });
            }

            else {
                $("#dropdownMenuButton > .flag-icon").removeClass("flag-icon-en");
                $("#dropdownMenuButton > .flag-icon").addClass("flag-icon-tr");
                $(".lang-menu > .dropdown-item > img").attr("src", "https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.4.6/flags/4x3/gb.svg");
                $(".lang-menu > .dropdown-item").data("lang", "en");
                $("#search-text").attr("placeholder", "Ürün, kategori veya marka ara...");
                $("#search-empty").html("Aramaya başlamak için <strong>en az 2 karakter</strong> yazmalısınız.");
                $("#search-button").text("ARA");
                $("#adminPanel").text("Yönetici Paneli");
                $("#login").text("Giriş Yap");
                $("#register").text("Kayıt Ol");
                $("#greeting").text("Merhaba,");
                $(".h4").text("Şifremi Unuttum");
                $("#lblPassword").text("Parola *");
                $("#lblPasswordConfirmed").text("Parola Tekrar *");
                $("#btnSave").val("Kaydet");
                $(".btn-danger").text("İptal");
                $("#page-title").text("Şifremi Unuttum");

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetCategories",
                    dataType: 'Json',
                    success: function (categories) {
                        if (categories.length > 0) {
                            for (let i = 0; i < categories.length; i++) {
                                let $target = $("#menuButton_" + categories[i].id);
                                $target.text(categories[i].ml1Name == null ? categories[i].name : categories[i].ml1Name);
                            }
                        }
                    }
                });

                $.ajax({
                    type: 'GET',
                    url: "http://localhost:5292/api/StoreApp/GetSubCategories",
                    dataType: 'Json',
                    success: function (subcategories) {
                        if (subcategories.length > 0) {
                            for (let i = 0; i < subcategories.length; i++) {
                                let $target = $("#subMenuButton_" + subcategories[i].id);
                                $target.text(subcategories[i].ml1Name == null ? subcategories[i].name : subcategories[i].ml1Name);
                            }
                        }
                    }
                });
            }
        });
    </script>
}