@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Şifremi Unuttum";
}

@section Header {
    @await Html.PartialAsync("_Header")
}

<h1 class="h4">Şifremi Unuttum</h1>
<hr />

<form asp-controller="Home" asp-action="ForgotPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PasswordConfirmed" class="form-label"></label>
        <input type="password" asp-for="PasswordConfirmed" class="form-control" />
    </div>

    <input id="btnSave" type="submit" class="btn mainPageButtons" value="Kaydet" />
    <button asp-controller="Home" asp-action="Login" class="btn btn-danger">İptal</button>
</form>