@model AppUserViewModel

@{
    ViewData["Title"] = Model.FullName;
}

@section Header {
    @await Html.PartialAsync("_Header", null, new ViewDataDictionary(ViewData) { { "Authenticated", ViewBag.IsAuthenticated }, { "Admin", ViewBag.IsAdmin }, { "User", ViewBag.UserId } })
}

<h1 class="h4">@Model.FullName</h1>
<hr />

<div class="row">
    <div class="col-4">
        <img src="@Model.Image" class="w-100" />
    </div>
    <div class="col-8">
        <div class="mb-3">
            <label asp-for="FullName" class="form-label"></label>
            <input type="text" asp-for="FullName" class="form-control" disabled />
        </div>

        <div class="mb-3">
            <label asp-for="UserName" class="form-label"></label>
            <input type="text" asp-for="UserName" class="form-control" disabled />
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input type="email" asp-for="Email" class="form-control" disabled />
        </div>
    </div>
</div>
