@model AppUser

@{
    ViewData["Title"] = "Kayıt Ol";
}

@section Header {
    @await Html.PartialAsync("_Header")
}

<h1 class="h4">Kayıt Ol</h1>
<hr />

<form asp-controller="Home" asp-action="Register" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label for="userImg" class="form-label">Resim</label>
        <input type="file" id="userImg" name="userImg" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input type="text" asp-for="FullName" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input type="email" asp-for="Email" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input type="password" asp-for="Password" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PasswordConfirmed" class="form-label"></label>
        <input type="password" asp-for="PasswordConfirmed" class="form-control" />
    </div>

    <div class="mb-3">
        <label for="Roles" class="form-label">Roller</label>
        <select class="form-select" multiple="multiple" id="Roles" name="Roles" asp-items="ViewBag.Roles">
        </select>
    </div>

    <input id="btnSave" type="submit" class="btn btn-primary" value="Kaydet" />
    <button asp-controller="Home" asp-action="Index" class="btn btn-danger">İptal</button>
</form>