@if (ViewBag.RegisterMessage != null)
{
    <div class="alert alert-success">
        @ViewBag.RegisterMessage
    </div>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreApp.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StoreApp.Web.styles.css" asp-append-version="true" />
    <link rel="canonical" href="@TempData.Peek("productPage")" />
    <link rel="icon" type="image/x-icon" href="/img/favicon/hepsiburada.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/fonts/boxicons.css">
    <link rel="stylesheet" href="/vendor/css/core.css" class="template-customizer-core-css">
    <link rel="stylesheet" href="/vendor/css/theme-default.css" class="template-customizer-theme-css">
    <link rel="stylesheet" href="/css/demo.css">
    <link rel="stylesheet" href="/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/vendor/css/pages/page-auth.css">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/vendor/libs/apex-charts/apex-charts.css">
    @await RenderSectionAsync("VendorStyles", required: false)
    @await RenderSectionAsync("PageStyles", required: false)
    <!-- Place the first <script> tag in your HTML's <head> -->
    <script src="https://cdn.tiny.cloud/1/ovciux4u43z7qhiyudddw4lheed5s2yglry16i2ttfbun543/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
    <script>
        tinymce.init({
            selector: 'textarea[name=Description]',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount linkchecker',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        });
    </script>
    <style>
        .nav > .nav-link {
            font-size: 0.8rem;
            color: #484848;
        }

        .nav-link:hover{
            color:orange;
            background-color:white;
            transition:0.5s;
        }

        .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
            color: orange;
            transition: 0.5s;
        }

        /* Container */
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 -10px;
        }

        /* Panel elements */
        .panel-element {
            width: calc(32% - 20px);
            margin: 10px;
            background-color: #f2f2f2;
            padding: 15px;
            text-align: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.2s ease-in-out;
        }

        .panel-element:hover {
            transform: translateY(-5px);
        }

        /* Panel element title */
        .panel-element-title {
            font-size: 1.25rem;
            margin-bottom: 10px;
        }

        /* Panel element content */
        .panel-element-content {
            font-size: 1.1rem;
            line-height: 1.5;
            margin-bottom: 10px;
        }

        /* Panel element link */
        .panel-element-link {
            display: block;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.2s ease-in-out;
        }

        .panel-element-link:hover {
            background-color: #0056b3;
        }

        .ClickToEdit:hover{
            cursor:pointer;
        }

        .ProductRows:hover{
            cursor:pointer;
        }

        .prdCards:hover{
            cursor: pointer;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: 0.2s;
        }

        .mainPageButtons{
            background-color: #FF6000;
            border-color: #FF6000;
            color:#fff;
        }

        .mainPageButtons:hover {
            background-color: #db5000;
            border-color: #db5000;
            color:#fff;
            transition: 0.2s;
        }

        .addBasket {
            background-color: #FF6000;
            border-color: #FF6000;
            color: #fff;
        }

        .addBasket:hover {
            background-color: #FF6000;
            border-color: #FF6000;
            color: #fff;
        }

        .form-check-input:checked{
            background-color: #FF6000;
            border-color: #FF6000;
        }

        body{
            margin-bottom:0px;
        }

        ::placeholder {
            color: #CCCCCC;
            opacity: 1; /* Firefox */
        }

        #search-box {
            width: 400px;
            height: 48px;
            font-size: 16px;
            border: 2px solid #919191;
            border-radius: 5px;
        }

        #count-box {
            width: 50px;
            height: 48px;
            font-size: 16px;
            border: 2px solid #919191;
        }

        #search-text{
            width: 89%;
            height: 100%;
            border: none;
            padding-right: 8px;
        }

        #search-text:focus{
            outline:none;
        }

        #search-button {
            width: 60px;
            height: 48px;
            margin-left: -5px;
            background-color: #919191;
            color: white;
            border: none;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
        }

        .countButtons {
            width: 30px;
            height: 48px;
            background-color: #c4c4c4;
            color: black;
            border: none;
            cursor: pointer;
        }

        .countButtons:hover {
            background-color: #CFCFCF;
        }

        #count-text-button{
            width: 75px;
            height: 48px;
            background-color: #fff;
            color: #000;
            border-top: 2px solid #c4c4c4;
            border-bottom: 2px solid #c4c4c4;
            border-left:none;
            border-right:none;
            margin-left:-4px;
            margin-right:-4px;
            cursor:context-menu;
        }

        #decrease-button {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        #increase-button {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        #addBasket{
            background-color: #FF6000;
            color: #fff;
            height: 48px;
        }

        #addBasket:hover {
            background-color: #db5000;
            color: #fff;
        }

        #nav-item-description{
            cursor: pointer;
        }

        #nav-item-comments{
            cursor: pointer;
        }

        #divDescription{
            height: 434px;
        }

        #divComments {
            height: 434px;
        }

        #search-panel {
            display: none;
            position: relative;
            width: 400px;
            height: auto;
            left: -1px;
            border: 2px solid #ff6000;
            background-color:#fff;
            border-radius: 0 0 4px 4px;
            z-index:2;
            min-width: 100%;
            text-align:center;
            padding: 5px;
        }

        #search-panel > p {
            margin-top: 0.5rem;
            margin-bottom: 0;
            font-size: 12px;
        }

        .toast{
            position: absolute;
            top: 25px;
            right: 30px;
            border-radius: 6px;
            background: #fff;
            padding: 20px 35px 20px 25px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            border-left: 8px solid #40f467;
            overflow: hidden;
            transform: translateX(calc(100% + 30px));
            transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
        }

        .toast.active{
            transform: translateX(0);
        }

        .toast-content{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .toast-check{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 35px;
            background-color: #40f467;
            border-radius: 50%;
            color: #fff;
            font-size: 20px;
        }

        .message{
            display: flex;
            flex-direction: column;
            margin: 0 20px;
        }

        .message-text{
            font-size: 20px;
            font-weight: 600;
        }

        .text-1{
            color: #666;
            font-weight: 400;
            font-size: 16px;
        }

        .toast-close{
            position: absolute;
            top: 10px;
            right: 15px;
            padding: 5px;
            cursor: pointer;
            opacity: 0.7;
            color: black;
        }

        .toast-close:hover{
            opacity: 1;
        }

        .progress {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 100%;
            background: #ddd;
        }

        .progress::before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: #40f467;
        }

        .progress.active::before {
            animation: progress 5s linear forwards;
        }

        .clearProducts{
            color: #FF6000;
        }

        .clearProducts:hover{
            color: #FF6000;
        }

        #deleteAll {
            background-color: #FF6000;
            color: white;
        }

        #deleteAll:hover {
            background-color: #db5000;
            color: white;
        }

        .page-link{
            cursor:pointer;
        }
    </style>
</head>
<body>
    @await RenderSectionAsync("Header", false)
    
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            @await RenderSectionAsync("VerticalMenu", false)

            <div class="layout-page">
                @await RenderSectionAsync("Navbar", false)

                <div class="container-lg">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/874e4f5961.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function activeColor(button) {
            button.classList.remove('text-dark');
            button.style.color = 'orange';
        }

        function passiveColor(button) {
            button.classList.add('text-dark');
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("VendorScripts", required: false)
    @await RenderSectionAsync("PageScripts", required: false)
</body>
</html>
