<div class="toast">
    <div class="toast-content">
        <i class="uil uil-check toast-check">
            <img src="/img/icons/success.png" />
        </i>
        <div class="message">
            <span class="message-text text-1">Ürün sepete başarıyla eklendi.</span>
        </div>
        <i class="toast-close">X</i>
        <div class="progress"></div>
    </div>
</div>
